*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: jetmono;
    src: url(../fonts/static/JetBrainsMono-Regular.ttf);
}

body{
    background: #3b4051;
    font-size: 30px;
    color: white;
    font-family: jetmono;
    text-shadow: 0px 3px #2525367d;
    text-align: center;
}

.header-row-container{
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 100%;
    gap: 15%;
    transform: translate(0, -15px);
    padding-top: 30px;
    padding-bottom: 80px;
}

.header-title{
    font-size: 25px;
    margin-left: 2%;
}

.header-column-container{
    width: 64%;
    position: absolute;
    transform: translate(0, -65px);
    transition: 1s;
    margin-left: 19%;
}.header-column-container:hover {
    transform: translate(0, -2px);
    transition: 0.5s;
}.header-column-container:hover .header-arrow {
    rotate:270deg;
    transition: 0.5s;
}

.header-arrow{
    width: fit-content;
    opacity: 0.4;
    rotate: 90deg;
    cursor: default;
    transform: scaleY(2.5);
    margin: 0 auto;
    margin-top: 30px;
    transition: 1s;
}

.header-list-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 5%;
    margin: 0 auto;
}

.header-pages{
    width: auto;
    height: auto;
    background-color: #44445c00;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 20px;
}.header-pages:hover{
    color: #cbdbfc;
    transition: 1s;
    font-size: 25px;
}

.header-title-large{
    text-shadow: 0px 3px #639ffc;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    transition: 1s;
}

.main-column-container{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.wave-image{
    width: 20%;
    height: fit-content;
    margin-top: 10%;
    margin-left: 42%;
}

.walk-image{
    width: 100%;
    height: fit-content;
    transform: scaleX(-1);
}

.dance-image{
    width: 100%;
    height: fit-content;
}

.image-container{
    width: 17%;
    height: auto;
    margin: auto 0;
    background: #848e9e;
    padding: 5%;
    border-radius: 15px;
}

.image-container-2{
    width: 20%;
    height: auto;
    margin: auto 0;
    background: #848e9e;
    padding: 5%;
    border-radius: 15px;
}

.text-column-container{
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: auto 0;
    font-size: 25px; /*verander dit valueta dan verander je bijna alle tekst*/
    transition: 1s;
}.main-row-container:hover .text-column-container{
    transition: 0.5s;
}

.main-bigger-width{
    width: 60%;
}

.text-container{
    padding-left: 20%;
}

.main-image-container{
    padding-left: 10%;
}

.main-row-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: auto;
    gap: 10%;
}

.container-decoration{
    background: #48485c;
    padding-top: 4%;
    padding-bottom: 3%;
    box-shadow: 25px 25px #30303c67;
    border-radius: 7px;
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    gap: 50%;
}

.text-row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.item-row-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.text-gap-left{
    padding-left: 5%;

}

.text-color-white{
    color: white;
    text-align: left;
}

.text-element-color-white{
    color: white;
    text-align: left;
    transition: 1s
}.main-row-container:hover .text-element-color-white{
    color: rgba(255, 255, 255, 0.466);
    transition: 0.5s;
}

.center-text{
    text-align: center;
}

.text-color-white-large{
    color: white;
    font-size: 50px;
    text-align: left;
}

.text-element{
    color: #78D0FF;
    transition: 1s;
}.main-row-container:hover .text-element{
    color: #78d0ff76;
    transition: 0.5s;
}

.text-element-large{
    color: #78D0FF;
    transition: 1s;
    font-size: 50px;
}.main-row-container:hover .text-element-large{
    color: #78d0ff76;
    transition: 0.5s;
}

.text-class{
    color: #94F3FF;
    transition: 1s;
}.main-row-container:hover .text-class{
    color: #94f3ff78;
    transition: 0.5s;
}

.text-class-name{
    color: #FFA778;
    font-weight: bold;
}

.glow{
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 200px #8ba6c01c;
    border-radius: 50px;
    z-index: -1;
    transform: translateY(-80px);
}

.main-items-column-container{
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 200px;
}

.divider{
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
}

.pinkgoose-image{
    width: 40%;
    height: fit-content;
    margin: auto 0;
}

.colum-container{
    display: flex;
    flex-direction: column;
}

.contact-link{
    text-decoration: none;
    transition: 0.5s;
}.contact-link:hover{
    text-decoration:underline;
    font-size: 31px;
}

.margin-bottom{
    margin-bottom: 50px;
}

.column-container{
    display: flex;
    flex-direction: column;
}

.project-column-container{
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.contact-column-container{
    display: flex;
    flex-direction: column;
}

.contact-button-column-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
}

.contact-button-shadow{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2%;
    border-radius: 20px;
    transition: 0.5s;
}.contact-button-shadow:hover{
    padding-bottom: 0.5%;
}

.contact-button{
    border-radius: 20px;
    padding: 2px 5%;
    padding-bottom: 2%;
    transition: 0.5s;
}.contact-button-shadow:hover .contact-button{
    margin-top: 2%;
}

.messenger-decoration-shadow{
    background: rgb(255,56,57);
    background: linear-gradient(90deg, rgba(255,56,57,1) 0%, rgba(202,35,148,1) 37%, rgba(136,27,209,1) 60%, rgba(8,109,215,1) 100%);
}

.messenger-decoration{
    background: rgb(255,104,105);
    background: linear-gradient(90deg, rgba(255,104,105,1) 0%, rgba(221,71,172,1) 37%, rgba(166,59,237,1) 60%, rgba(25,137,255,1) 100%);
}

.github-decoration-shadow{
    background-color: #282849;
}

.github-decoration{
    background-color: #44445C;
}

.e-mail-decoration-shadow{
    background-color: #086DD7;

}

.e-mail-decoration{
    background-color: #1989FF;

}

.contact-image{
    width: 100%;
}

.contact-text{
    width: 80%;
    color: #282849;
    margin: auto;
    text-shadow: none;
}

.contact-container{
    background-color: #FFFAFA;
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 15px;
    padding: 8% 0;
    box-shadow: 0 30px #F1DDDA;
    margin-bottom: 100px
}

.project-image{
    width: 100%;
    height: fit-content;
    margin: auto;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform:  rotateX(50deg);
}.project-image:hover{
    transform: scale(1.1) rotateX(0deg); 
    box-shadow: 0px 0px 100px 50px #8ba6c01c;

}

.project-image-container{
    perspective: 1000px;
    width: 30%;
}

.pinkgoose-image{
    width: 60%;
    height: fit-content;
    margin: auto;
    transition: 0.5s;
}

.school-image{
    width: 100%;
    height: fit-content;
    transform: scaleX(-1);
}

.tv-image{
    width: 100%;
    height: fit-content;
    margin: auto 0;
}

.center-item{
    justify-content: center;
    margin: auto;
}

.list-image{
    width: 100%;
    height: fit-content;
    margin: auto 0;
    transform: scaleX(-1);
}

.hire-me-image{
    width: 30%;
    height: fit-content;
    margin: auto 0;
}

@media only screen and (max-width: 800px) {
    body{
        font-size: 11px;
        text-shadow: 0px 1px #2525367d;
    }

    .text-column-container{
        font-size: 12px;}

    .text-color-white-large {
        font-size: 25px;
    }

    .text-element-large{
        font-size: 25px;
    }

    .header-title-large{
        font-size: 50px;
    }

    .header-title{
        font-size: 12px;
    }

    .divider{
        margin-top: 100px;
    }

    .contact-column-container{
        gap: 20px;
    }

    .container-decoration{
        box-shadow: 12px 12px #30303c67;
    }

    .header-column-container{
        transform: translate(0, 0px);
        margin-left: 31%;
    }

    .header-pages{
        font-size: 9px;
    }

    .header-row-container{
        padding-bottom: 0px;
    }

    .project-column-container{
        gap: 50px;
    }
    
    .project-image{
        transform: rotateX(0deg);
    }

    .contact-button-shadow{
        border-radius: 10px;
    }

    .contact-button{
        border-radius: 10px;
    }

    .header-arrow{
        opacity: 0;
    }

    .contact-link:hover{
        font-size: 11px;
        text-decoration: none;
    }

    .contact-button-shadow:hover{
        padding-bottom: 2%;
    }

    .contact-button-shadow:hover .contact-button{
        margin-top: 0px;
    }

    .contact-button-column-container{
        gap: 30px;
        margin-top: 50px;
    }

    .contact-container{
        box-shadow: 0 15px #F1DDDA;
        border-radius: 10px;
    }

}